<!DOCTYPE html>
<html lang="es">
<head>
    <title>Borrar Contacto</title>
</head>

<body>
    <h1>Borrar Contacto</h1>

    <div id="detalle-contacto">
        <p>Email: <span id="email"></span></p>
        <p>Nombre: <span id="nombre"></span></p>
        <p>Telefono: <span id="telefono"></span></p>
    </div>

    <form id="delete-contact-form">
        <button type="button" onclick="borrarContacto()">Borrar</button>
        <button type="button" onclick="cancelarBorrar()">Cancelar</button>
    </form>

    <div id="error-mensaje"></div>

    <script src="../static/js/borrar.js"></script>
</body>
</html>