<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/get_all.js"></script>
    </head>

    <body>
        <a href="buscar">Buscar</a>
        <table border="1" id="table_contactos">
            <thead id="thead_contactos">
                <th>Email</th>
                <th>Nombre</th>
                <th>Teléfono</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
        <script>
            document.body.onload = getAll();
        </script>
    </body>
</html>

